node_modules
npm-debug.log

.dockerignore
docker-compose.dev.yml
Dockerfile.dev
Dockerfile.prod

nginx
build
.svelte-kit

.vscode
.git
.gitattributes
.gitignore

.eslintignore
.eslintrc.cjs
.prettierrc
.pretieriignore

README.md
vite.config.nginx.ts